{% extends 'main.html' %} {% block content %}
{% if page == 'login' %}
<div>
  <form method="POST" action=""> {% csrf_token %}
    <label>User Name:</label>
    <input type="text" Name="username" placeholder="" />
    <label>Password:</label>
    <input type="password" Name="password"  placeholder="" />
    <input type="submit" value="login" />
  </form>
  <p>Haven't registered yet?</p>
  <a href="{% url 'register' %}">Register</a>
</div>
{% else %}
<div>
  <form method="POST" action=""> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register" />
  </form>
  <p>Already registered?</p>
  <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}
